
.gallery-title
{
    font-size: 36px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
}
.filter-button
{
    font-size: 18px;
    border: 1px solid #1349b2;
    text-align: center;
    color: #1349b2;
    margin-bottom: 10px;
    background: none;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #1349b2;
    text-align: center;
    color: #ffffff;
    background-color: #1349b2;

}
.filter-button:active
{
    background-color: #1349b2;
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}
